<nav class="navbar navbar-expand-md navbar-dark fixed-top navcol py-0">
    <a class="navbar-brand" href="{{ path('home') }}"><h3 class="text-uppercase" >Figur'In</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('product') }}">Nos Figurines</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('about') }}">Qui sommes-nous ?</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
        </li>
    </ul>

    {# <form class="form-inline ml-auto" action="{{ path('search') }}" method="GET">
        <input class="form-control mr-sm-2" type="text" name="q" placeholder="Rechercher des figurines" aria-label="Rechercher">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
    </form> #}

    <ul class="navbar-nav">
        {% if app.user %}
            <li class="nav-item active">
                <a class="nav-link fs-2" href="{{ path('account') }}">Mon compte <small class="text-secondary">({{ app.user.firstname}})</small></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('register') }}">Inscription</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
        {% endif %}
        <li class="nav-item active">
            <a title="Panier" class="nav-link" href="{{ path('cart') }}"><i class="bi bi-cart3"></i></a>
        </li>
    </ul>
</div>

</nav>
